.envrc
.venv
*.swp

figures/

#Python build files
build/
dist/
__pycache__/
*.py[cod]
*.egg-info
*.egg
*.installed.cfg
.coverage

# Sphinx Documentation
_build
_autosummary

# Isochrone data
arsenal_gear/stellar_evolution/data/
arsenal_gear/element_yields/data
# plotting outputs
plots/

# Sukhbold et al. (2016) supplementary data (large, user-downloaded)
arsenal_gear/element_yields/Sukhbold2016/

#Limongi & Chieffi (2018) supplementary data
arsenal_gear/element_yields/LimongiChieffi2018/
