.envrc
.venv
*.swp

figures/

#Python build files
build/
dist/
__pycache__/
*.py[cod]
*.egg-info
*.egg
*.installed.cfg
.coverage

# Sphinx Documentation
_build
_autosummary

# Isochrone data
arsenal_gear/stellar_evolution/data/
arsenal_gear/element_yields/data
# plotting outputs
plots/
