.envrc
.venv
*.swp

figures/

#Python build files
build/
dist/
__pycache__/
*.py[cod]
*.egg-info
*.egg
*.installed.cfg

# Sphinx Documentation
_build
_autosummary

# Isochrone data
arsenal_gear/stellar_evolution/data/

# plotting outputs
plots/